.cl-container {
    display: flex;
    width: fit-content;
    margin: auto;
    gap: .5rem;
    min-height: calc(100vh - 2.25rem);
    background-color: darkgray;
    overflow-x: auto;
    max-width: 100%;
    overflow-y: hidden;
}